@import "reset.inc.scss";

body {
    background-color: #f6f6ef;

    > center {
        padding: 1em 2em;

        > table {
            width: 100%;

            > tbody {
                tr:nth-of-type(1) {
                    td {
                        background-color: #f6f6ef;

                        table {
                            tbody {
                                tr {
                                    td:nth-of-type(1) {
                                        padding: 4px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
