html {
    > body {
        background-color: #f6f6ef;

        // html > body > center > table > tbody > tr:eq(2) > td > table:last > tbody > tr
        > center {
            > table {
                > tbody {
                    // Banner.
                    > tr:nth-of-type(1) {
                        > td {
                            background-color: transparent;
                        }
                    }

                    // Post (second-to-last table row).
                    > tr:nth-last-child(2) {
                        color: orange;
                        > td {
                            color: violet;
                            > table:nth-of-type(2) {
                                > tbody {
                                    // Comment rows.
                                    > tr {
                                        border: 1px solid red;
                                        color: red;

                                        > td {
                                            > table {
                                                border-collapse: collapse;
                                                border-spacing: 0;

                                                > tbody {
                                                    > tr {
                                                        // Spacer.
                                                        > td:nth-of-type(1) {
                                                        }

                                                        // Vote.
                                                        > td:nth-of-type(2) {
                                                        }

                                                        // Comment.
                                                        > td:nth-of-type(3) {
                                                            border-left: 3px solid orange;
                                                            padding-bottom: 4px;
                                                            padding-left: 7px;

                                                            > span.comment {
                                                                font-family: Trebuchet MS;
                                                                font-size: 11pt;
                                                                text-rendering: optimizeLegibility;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
